#contact {
	background: #242629;
	display: flex;
	align-items: center;

	.left,
	.right {
		flex: 1;
	}

	.left {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			max-width: 80%;
			background-color: steelblue;
			padding: 20px;
			border-radius: 25%;
		}
	}

	.right {
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h2 {
			font-size: 30px;
		}

		form {
			width: 70%;
			height: 70%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			input {
				width: 300px;
				height: 30px;
				font-size: 14px;
			}

			textarea {
				width: 300px;
				height: 200px;
				font-size: 14px;
			}

			button {
				width: 150px;
				height: 30px;
				background: #6d41a1;
				color: #fffffe;
				border: none;
				border-radius: 40px;
				font-weight: 500;
				cursor: pointer;

				&:focus {
					outline: none;
				}
			}
		}
	}
}
